:root {
  --color-light-gray: #f2f2f2;
  --color-medium-gray: #828387;
  --color-dark-gray: #1f191a;
  --color-overlay: rgba(67, 62, 63, 0.85);
  --color-soft-white: #f9f8ff;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: var(--color-light-gray);
  font-family: var(--font-saira), sans-serif;
  font-size: 14px;
  color: var(--color-soft-white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
  padding-bottom: 20px;
}
